body
{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #000;
    opacity: .8;
}
.navbar-brand img
{
    
    background: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    
}
.navbar-nav li
{
    padding: 0 10px;

}
#nav-bar .nav-item ul li a
{
    color: #000!important;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a
{
    color: #fff!important;
}
.navbar-bar
{
    background-color: #000;
}
.navbar-toggler
{
    border: none!important;

}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;

}
.glass
{
    background: linear-gradient(rgb(0, 255, 13), rgb(179, 255, 0));
}
.glass::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(3, 5, 122), rgb(2, 99, 145));
    clip-path: circle(20% at right 20%);
  
 
}
.glass::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(40, 4, 204), rgb(218, 7, 147));
    clip-path: circle(20% at 17% 68%);
 
}
.morphism
{
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1  ;
    padding-bottom: 21px;
}
.morphism .box
{
    position: relative;
    width: 90%;
    height: 505px;
    margin: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 9);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    margin-left: 17%;
}
.morphism .content
{
    color: #000;
    font-size: 12.4px;
    text-align: center;
    padding: 20px;
    transition: 0.5s;  
    font-weight: 300;
}

.morphism .box .content
{
    padding: 20px;
    text-align: center;
    transform: translate(100px);
    opacity: 0;
    transition: 0.5s;
}
.morphism .box:hover .content
{
    transform: translate(0px);
    opacity: 1;
}

.morphism .box .content h1
{
    font-size: 4em;
    color: #000;
    z-index: 1;
}

.box .contact-form
{
    padding: 15px;
}
.box .form-control
{
    border-radius: 0 !important;
    border: none !important;
}
.box ::placeholder
{
    color: #999 !important;

}
.box .follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;

}
.box .contact-info .fa
{
    margin: 0px;
    color: #007bff;
    font-weight: bold;
}
#footer
{
    background: #333;
    color: #fff;
    padding: 12px;

}
#footer .container
{
    width: 600px;
    margin: 20px auto;
}
#footer .container p
{
    margin-left: 20px;
}
